/*Início links de navegação*/
.sessao-especialidade {
  margin-top: 40px;
}

.conteiner-titulo {
  padding: 0 20px;
}

.conteiner-links-especialidades {
  padding   : 0 20px;
  text-align: center;
}

.links-especialidades {
  display        : flex;
  justify-content: center;
  flex-wrap      : nowrap;
  margin-top     : 20px;
  text-align     : center;
}

.links-especialidades a {
  text-decoration: none;
  color          : #000;
  border-bottom  : 2px solid #00cad1;
  margin         : 0 10px 10px;
  font-size      : 18px;
}

.links-especialidades a:hover {
  color: #0d6e71;
}
/*Fim links de navegação*/

/*Início tabela especialidades*/
.box-tabela-especialista {
  display: flex;
  height: 240px;
  padding: 0 20px;
}
/*Fim tabela especialidades*/

.box-tabela-especialista img {
  width: 30%;
  height: 100%;
  object-fit: cover;
}

.tabela-especialistas {
  border-spacing: 0;
  text-align: left;
  width: 70%;
  height: 100%;
}