/*Início links de navegação*/
.sessao-especialidade {
  margin-top: 40px;
}

.conteiner-titulo {
  padding   : 0 20px;
  max-width : 600px;
  margin    : 0 auto;
  text-align: center;
}

.conteiner-links-especialidades {
  padding   : 0 20px;
  text-align: center;
}

.links-especialidades {
  display        : flex;
  justify-content: center;
  flex-wrap      : nowrap;
  margin-top     : 20px;
  text-align     : center;
}

.links-especialidades a {
  text-decoration: none;
  color          : #000;
  border-bottom  : 2px solid #00cad1;
  margin         : 0 10px 10px;
  font-size      : 18px;
}

.links-especialidades a:hover {
  color: #0d6e71;
}

/*Fim links de navegação*/

/*Início tabela especialidades*/
.box-tabela-especialista {
  display: flex;
  height : 240px;
  padding: 1 20px;
}

/*Fim tabela especialidades*/

.box-tabela-especialista img {
  width     : 30%;
  height    : 100%;
  object-fit: cover;
}

.tabela-especialistas {
  border-spacing: 0;
  text-align    : left;
  width         : 70%;
  height        : 100%;
}

.tabela-especialistas thead tr {
  background-color: #00cad1;
  color           : #fff;
}

.box-tabela-especialista tr {
  background-color: #f1f1f1;
  color           : #585757;
  font-weight     : 500;
}

.tabela-especialistas tbody tr:nth-of-type(2n+1) {
  background-color: #cdcdcd;
  border          : 1px solid #f1f1f1;
}

.tabela-especialistas th,
.tabela-especialistas td {
  padding: 10px;
}

/*RESPONSIVIDADE*/
@media (max-width: 768px) {
  .box-tabela-especialista {
    margin: 0;
  }

  .box-tabela-especialista img {
    display: none;
  }

  .tabela-especialistas {
    width     : 100%;
    margin-top: auto;
  }
}

@media (max-width: 461px) {
  .box-tabela-especialista {
    margin : 0;
    padding: 0;
  }

  .links-especialidades {
    flex-direction: row;
    flex-wrap     : wrap;
  }
}